#header {
    background-color: #38497E;
    color: white;
    height: 8vh;
}

#header-title {
    font-size: 1.5em;
    font-weight: 100;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-left: 15px;
}

#header-title > span {
    font-weight: 600;
}
